/* .App {
  text-align: center;
} */

img{
  height:300px;
}

.company-name {
  font-size: 2em;
  font-weight: bolder;
  color: #a84343;
  justify-content: center;
}

#root {
  color: #282c34;
}

a {
  font-weight: bold;
}

.space-div{
  padding-bottom: 30px;
}

nav {
  background-color: #39383d;
}

a{
  color: aliceblue;
}

a:hover {
  transform: scale(1.1);
  padding-left: 10px;
}

.dropdown-item:hover {
  transform: scale(1);
}

.card {
  background-color: #a2a3a3;
}

/* .nav-link{
  color: #61dafb;
} */